.container{
    position: relative;
    top: -110px;
}
.card-row {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.card-body {
    padding: 18px;
}
.card {
    cursor: pointer;
    width: 368px;
    height: 378px;
    border-radius: 30px;
    opacity: 0px;
    background: rgba(255, 255, 255, 2);
    box-shadow: 8px 12px 10.8px 33px rgba(0, 0, 0, 0.02);
}
.card-icon img {
    width: 82px;
    height: 90px;
    cursor: pointer;

    
}
.card-heading {
    font-family: "DM Sans", "sans-serif";
    font-size: 23px;
    font-weight: bold;
    line-height: 29.95px;
    text-align: left;
    margin: 10px;
}
.card-text p {
    width: 320px;
    height: 145px;
    opacity: 0px;
    font-family: "DM Sans", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    text-align: left;
    color: rgba(46, 52, 64, 0.65);
    text-align: justify;

}